.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

body {
  background-color: #eaf1f7;
}

.App-header {
  background-color: #236a9c;
  height: 60px;
  color: white;
}

.App-title {
  padding: 10px;
  font-size: 15px;
}

.paper {
  border-radius: 2px;
  height: 25em;
  width: 35em;
  top: 60px;
  margin: 10px auto;
  background-color: white;
}
